<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/base :: head('Rol')}"></head>
    <body>
        <nav th:replace="~{general/base :: navbar}"></nav>

        <div class="container mt-4" style="max-width:400px">
            <h3 th:text="${rol.id == null} ? 'Nuevo Rol' : 'Editar Rol'"></h3>
            <hr/>
            <form th:action="@{/rol/guardar}" th:object="${rol}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="mb-3">
                    <label class="form-label">Nombre del Rol</label>
                    <input type="text" th:field="*{nombre}" class="form-control" required/>
                </div>
                <button type="submit" class="btn btn-dark">Guardar</button>
                <a th:href="@{/rol/listado}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>

        <footer th:replace="~{general/base :: footer}"></footer>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
